body {
 background-color: #bebebe;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0;
}
#title {
 color: rgb(76, 79, 119)
}
#panel {
 background-color: black;
 border-radius: 24px;
}